 p.code {
   background-color: black;
   color: lightgreen;
   padding: 3px;
   margin: 60px;
   font-family: monospace;
 }

body.d {
  background-color: black;
  color: lightgreen;
  font-family: monospace;
}
h1 {
 text-decoration: underline;
 text-decoration-color: lightgreen;
}
